//- doctype html
//- head
//-   style.
//-   #verify-form,
//-   #response-text {
//-   display: none;
//-   }
//-   title Verify SMS Demo
//- form#phone-form
//-   h2 Enter your phone number with country code:
//-   input#phone-number-input(type='tel' placeholder='e.g. 15551235555')
//-   input#phone-submit(type='submit')
//- form#verify-form
//-   h2 Enter your verification code:
//-   input#otp-input(type='number' placeholder='e.g. 123456')
//-   input#verify-submit(type='submit')
//- #response-text
//- script(type='text/javascript' src='script.js')
