extends base

block content
  main.main    
      h2.heading-secondary.ma-bt-lg #{title}
      p We have sent you a verification code!
      p Please enter the code here:
      form.form--insertCode(method='post' action='/step3')
        .form__group
          label.form__label(for='tel') Phone number
          input#code(type='text' name='token')
        .form__group
          button.btn.btn--green Check code

